html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map-canvas {
  height: 100%;
}
a {
  color: #4183c4;
  text-decoration: none;
}
.avatar {
  vertical-align: top;
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 6px;
}
.data {
  font-size: 20px;
  font-weight: normal;
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  display: inline-block;
  padding-left: 10px;
}
.data ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.fullname {
  font-size: 26px;
}
.data-spacer {
  height: 53px;
}
.github {
  bottom: 0;
}
.favicon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}